* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: F8F6F6;
}
header{
	padding-top: 2%;
	padding-right: 7%;
	padding-bottom: 2%;
	padding-left: 7%;
	display: flex;
	justify-content: space-between;
}
header img {
	height: 2rem;
	width: auto;
}
nav ul{
	margin-top: 1%;
}
nav ul li {
	display: inline-block;
}
nav ul li a{
	font-size: 1.2rem;
	padding-right: 3rem;
	text-transform: lowercase;
}
a{
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5rem;
	color: darkblue;
	 box-shadow: inset 0 0 0 0 darkblue;
	margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
  box-shadow: inset 100px 0 0 0 darkblue;
  color: F8F6F6;
}
section article {
	padding-top: 2%;
	padding-right: 7%;
	padding-bottom: 1%;
	padding-left: 7%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	
}
h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 2rem;
	color: darkblue;
	text-transform: uppercase;
	text-shadow: black;
	display: block;
	padding-left: 2%;
	text-align: left;
	margin-right: auto;
	margin-left: auto;

}
.negrita {
	font-weight: bold;
}
.imagen_index {
	width: 100%;
	height: auto;

}
.fondo_secundario{
	width: 33%;
	height: auto;
	object-position: left;
	padding-top: 1%;
	padding-left: 5%;
	display: inline-block;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	color: darkblue;
	text-align: justify;
	padding-right: 5%;
}
.foto_nerixlab {
	width: 100%;
	height: auto;
}
.primero{
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	color: darkblue;
	text-align: right;
	width: 100%;
	padding-top: 10%;
	padding-right: 2% ;
}
.segundo {
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	color: darkblue;
	text-align: left;
	height: auto;
}
.tercero{
text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	color: darkblue;
	text-align: left;
	padding-top: 1%;
	padding-left: 2%;
	padding-right: 2%;
	object-position: center;
}
.carrete div {
	padding-top: 30%;
}
.carrete img{
	width: 100%;
	padding: 2%;
}

.informacion{
	width: 33%;
	height: auto;
	object-position: left;
	padding-top: 1%;
	padding-left: 1%;
	display: inline-block;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	color: darkblue;
	text-align: center;
	padding-right: 5%;
	border-color: darkblue;
}
.formulario {
	object-position: left;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	color: darkblue;
	text-align: left;
	padding-top: 5%;
	padding-left: 2%;
	padding-right: 2%;
	width: 50%;
	height: auto;
}
footer{
	display: flex;
	text-align: center;
	justify-content: space-evenly;
	align-items: center;
	height: 150px;
	padding-left: 2%;
	padding-right: 2%;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	color: darkblue;
}
input[type=text] {
  padding: 0,5rem;
  padding-left:0,5rem;
  margin:1rem 0;
  border-radius: 1rem;

}
input[type=comentario] {
  padding: 1rem;
  padding-top:2rem;
  padding-bottom: 2rem;
  padding-right: 3rem;
  margin:1rem 0;
  border-radius: 1rem;
  width: 50%;
  height: auto;
}
input[type=email] {
  padding-left: 0,5rem;
  padding:0,5rem;
  margin:1rem 0;
  border-radius: 1rem;
}
.icon {
	display: none;
}
@media screen and (max-width: 480px) {
	header {flex-wrap: wrap;}
nav ul { display: none; }
.icon { display: block;  }
section {
	max-width: 480px;
	width: 100%;
}
header div, header a{
	flex: 1 0 50%;
}
header nav {
	flex-basis: 100%;
}
.fondo_secundario{
	width: 100%;
	display: block;
	
}
nav.responsive ul {
	display: block;
	width: 100%;
}
.primero{
	width: 100%;
	display: block;
	height: auto;
}
.segundo {
	width: 100%;
	display: block;
}
.tercero{
	width: 100%;
	display: block;
}
.informacion{
	width: 100%;
	height: auto;
	object-position: center;
	display: block;
	text-decoration: none;
}
input[type=comentario] {
  padding: 1rem;
  padding-top:2rem;
  padding-bottom: 2rem;
  padding-right: 3rem;
  margin:1rem 0;
  border-radius: 1rem;
  width: 100%;
  height: auto;
}
input[type=email] {
  padding-left: 0,5rem;
  padding:0,5rem;
  margin:1rem 0;
  border-radius: 1rem;
  width: 100%;
}
input[type=text] {
  padding: 0,5rem;
  padding-left:0,5rem;
  margin:1rem 0;
  border-radius: 1rem;
width: 100%;
}
footer{
	padding-top: 3rem;
	margin-right: 1%;
	max-width: 1,5rem;
}
